@using CarInsurance.Models
@model List<Insuree>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Insured Members</h5>
        </div>
        <div class="card-body">
            @foreach (var insuree in Model)
            {
                using (Html.BeginForm("Admin", "Insuree", FormMethod.Post))
                {
                    <input type="hidden" name="Id" value="@insuree.Id" /> // this hides the ID number but allows us to get it for when we remove them from our newsletter list in a quicker manner
                    <div class="row mb-3">
                        <!-- this is styling used from bootstrap-->
                        <div class="col-2">
                            @insuree.FirstName
                        </div>
                        <div class="col">
                            @insuree.LastName
                        </div>
                        <div class="col-4">
                            @insuree.EmailAddress
                        </div>
                        <div class="col">
                            @insuree.Quote
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

